Application/EdFi.Ods.Extensions.EdOrgProgram/Versions/1.1.0/Standard/4.0.0/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/4.0.0" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/4.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 4.0.0 Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-EducationOrganizationEducationOrganizationProgram">
    <xs:annotation>
      <xs:documentation>This entiy tracks what education organizations are getting edOrgPrograms.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>The education organization where the program is implmented.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationProgramType" type="EXTENSION-EducationOrganizationProgramTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The type of ed org program.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-EducationOrganizationProgramTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Start date for the ed org program.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationProgramProviderReference" type="EXTENSION-EducationOrganizationProgramProviderReferenceType">
            <xs:annotation>
              <xs:documentation>The entity administering the ed org program.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>End date for the program.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramAuthorizedProvider">
    <xs:annotation>
      <xs:documentation>This entiy tracks what providers are authorized to administer education organization level programs.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="EducationOrganizationProgramProviderReference" type="EXTENSION-EducationOrganizationProgramProviderReferenceType">
            <xs:annotation>
              <xs:documentation>The entity that administers one or more programs.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationProgramType" type="EXTENSION-EducationOrganizationProgramTypeDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The type of ed org program that can be administered.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-EducationOrganizationProgramTypeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Start date for the ed org program.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>End date for the program.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramProvider">
    <xs:annotation>
      <xs:documentation>List of providers of programs that are at the education organization level.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="EducationOrganizationProgramProviderId" type="xs:int">
            <xs:annotation>
              <xs:documentation>Id for an entity that is administering edOrg level programs</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameOfInstitution" type="NameOfInstitution">
            <xs:annotation>
              <xs:documentation>The full, legally accepted name of the institution.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>reference to existing education organization, when applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramTypeDescriptor">
    <xs:annotation>
      <xs:documentation>Program types that are administered at the education organization level instead of the student level.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-EducationOrganizationEducationOrganizationProgramIdentityType">
    <xs:annotation>
      <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationEducationOrganizationProgram.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>The education organization where the program is implmented.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationProgramType" type="EXTENSION-EducationOrganizationProgramTypeDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The type of ed org program.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-EducationOrganizationProgramTypeDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Start date for the ed org program.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationEducationOrganizationProgramReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an EducationOrganizationEducationOrganizationProgram. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="EducationOrganizationEducationOrganizationProgramIdentity" type="EXTENSION-EducationOrganizationEducationOrganizationProgramIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationEducationOrganizationProgram.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramAuthorizedProviderIdentityType">
    <xs:annotation>
      <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationProgramAuthorizedProvider.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EducationOrganizationProgramProviderReference" type="EXTENSION-EducationOrganizationProgramProviderReferenceType">
        <xs:annotation>
          <xs:documentation>The entity that administers one or more programs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationProgramType" type="EXTENSION-EducationOrganizationProgramTypeDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>The type of ed org program that can be administered.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-EducationOrganizationProgramTypeDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Start date for the ed org program.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramAuthorizedProviderReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an EducationOrganizationProgramAuthorizedProvider. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="EducationOrganizationProgramAuthorizedProviderIdentity" type="EXTENSION-EducationOrganizationProgramAuthorizedProviderIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationProgramAuthorizedProvider.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramProviderIdentityType">
    <xs:annotation>
      <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationProgramProvider.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EducationOrganizationProgramProviderId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Id for an entity that is administering edOrg level programs</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationProgramProviderReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an EducationOrganizationProgramProvider. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="EducationOrganizationProgramProviderIdentity" type="EXTENSION-EducationOrganizationProgramProviderIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Encapsulates primary attributes that can be used to look up the identity of an EducationOrganizationProgramProvider.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-EducationOrganizationProgramTypeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Program types that are administered at the education organization level instead of the student level.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
</xs:schema>
